<a href="https://colab.research.google.com/github/JANSERRUTO/ejemplos-de-regresion/blob/master/Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import pydotplus 
from sklearn.tree import export_graphviz
from sklearn.tree import DecisionTreeClassifier
import numpy as np

In [ ]:
data = pd.DataFrame({'P_Movies': [17,64,18,20,38,49,55,25,29,31,33], 
             'Gender': [1,0,1,0,1,0,0,1,1,0,1]})
data =data.sort_values('P_Movies')
data

    P_Movies  Gender
0         17       1
2         18       1
3         20       0
7         25       1
8         29       1
9         31       0
10        33       1
4         38       1
5         49       0
6         55       0
1         64       0

In [ ]:
def tree_graph_to_png(tree, feature_names, png_file_to_save):
    tree_str = export_graphviz(tree, feature_names=feature_names, 
                                     filled=True, out_file=None)
    graph = pydotplus.graph_from_dot_data(tree_str)  
    graph.write_png(png_file_to_save)

In [ ]:
dt = DecisionTreeClassifier(criterion = 'entropy')
X = data['P_Movies'].values.reshape(-1, 1)
Y = data['Gender'].values
dt.fit(X, Y)

tree_graph_to_png(dt, feature_names=['P_Movies'], 
                 png_file_to_save='dt.png')

In [ ]:
d  = np.array([7, 15, 43, 45])
d=d.reshape(-1, 1)

dt.predict(d)

array([1, 1, 1, 0])